header {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  color: fuchsia;
}
p {
  font-style: italic;
}
strong {
  background-color: bisque;
}
img {
  width: 400px;
  float: left;
  display: flex;
  flex-direction: row;
}
